table {
	margin-top: 40px;
}

th,
td {
	text-align: center;
}

.material-icons {
	color: black;
	transition: 0.4s;

}
.enviar:hover {
	color:darkorange;
	
}
.up:hover {
	color: limegreen;
}
.down:hover {
	color: red;
}

.cidades{
	padding:15px;
	margin:10px;
}
.selecione{
	text-align: center;
}