body,html {
	background: #1E3809;
	height:100%;
	
}

.logotipo{
	border-radius:0.9em;
	width:80px;
	height:80px;
}
.conteudo-perfil{
	background: black;
	
	opacity: 0.9;
	/*---------  adicionando esta propriedade distacamos a área do login -------*/
	border-radius: 0.4em;

	/*	relaciona com a div que o encapsula */
	position: relative;
	/*	baixa o conteudo do div 100 pixels pra baixo */
	top: 15px;
	width: 500px;
	/* aumenta ou diminui a largura da tela login*/
	margin: 0px auto;
	/*	centraliza */
	padding: 50px;
	/*--- aumenta ou diminui a distancia do topo ----*/
	color: white;

}
.loga {
	float: right;
}

.row li a{
	transition:0.4s;
	background:black;
	border-radius:0.3em;
	opacity:0.9;
	display:block;
	width:120px;
	text-align: center;
	padding:10px;
	margin: 20px;
	color: white;
}
.row li a:hover{
	list-style:none;
	text-decoration: none;
	background:green;
	color: white;
}
.rodape{
	background: black;
	position: absolute;
	opacity: 0.7;
  	width: 100%;
	padding:20px;
	text-align: center;
	color: white;
   
	 bottom: 0px;
    z-index: 1;

}
footer {
    bottom: 0px;
}


.sair li a{
	width:60px;
}
.sair li a:hover{
	background:red;
}

